.wrapper {
    font-family: "Lato";
    color: #424551;
}
[class*="_container"] {
    max-width: 1230px;
    margin: 0 auto;
}

.article__title {
    margin: 0 0 30px 0;
}
.title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1e212c;
}
.article__picture {
    margin-bottom: 30px;
}
.image {
    max-width: 100%;
}
.text {
    line-height: 160%;
    color: #424551;
}
.bold {
    font-weight: 700;
    line-height: 150%;
    color: #1e212c;
}
.bold--font-size {
    font-size: 20px;
}
.article__text > p {
    margin-bottom: 20px;
}
blockquote {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1e212c;
    padding-left: 40px;
    background: url("../img/icon/Rectangle.svg") 0 0 no-repeat, url("../img/icon/Rectangle.svg") 20px 0 no-repeat;
    margin-bottom: 30px;
}
.article__list {
    margin-bottom: 30px;
}
.list__item {
    line-height: 160%;
    color: #424551;
}
li:not(:last-child) {
    margin-bottom: 7px;
}

.list__item::before {
    background: url("../img/icon/check.svg") 0 0 no-repeat;
    content: "";
    display: inline-block;
    width: 16px;
    height: 18px;
    margin-bottom: -5px;
    margin-right: 20px;
}
.buttom {
    width: 161px;
    height: 44px;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #ffffff;
    display: inline-block;
}
.card__picture {
    max-width: 100%;
}
.card__title {
    padding: 1px 8px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
    display: inline-block;
}
.card__title--green {
    background-color: #03cea4;
}
.card__position {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1e212c;
}
.card__info {
    font-size: 18px;
    line-height: 150%;
    color: #787a80;
}
.divider {
    padding-top: 5px;
}

.card__title--orange {
    background-color: #f89828;
}
.card__title--blue {
    background: #5a87fc;
}
.card__title--red {
    background-color: #f52f6e;
}
.price {
    color: #ff4242;
}
